html {
    font-size: 16px; /* Base size for scaling */
}


		/* all body content */
body {
	display: grid;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgba(0,255,0,0.3);
    color: #222;
	margin: 0px auto;
	width: 80%;
    padding: 0 1rem; 
}
		/* header content */
header {
    border-bottom: 1px solid #ccc;
	text-align: center;
    margin-bottom: 1rem;
}

		/* main content */

main {
	display: grid;
}
h2 {
	display: grid;
	justify-content: right;
	
}
nav {
	justify-content: right;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
	align-content:last baseline;
}
nav a {
    text-decoration: none;
    color: #093d04;
    font-weight: bold;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    transition: background 0.2s ease;
}

nav a:hover {
    background: #e0e0e0;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    }


	/*=======  FOOTER  =====*/
footer {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
}

footer nav {
    display: flex;
    flex-wrap: nowrap; /* Keep links in one line */;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 0.5rem;
}
