


html {	
	background-color: rgb(211,211,211);
}
main {
	text-align: center;
	min-width: 350px;
	max-width: auto;
}
h1{
	font:serif
	color: rgb(255,213,128);
}
header{
	background: cyan;
	text-align: center ;
	margin:0;
	padding:0;
	padding-top:0;
	
}
nav li {
	display: inline;
	text-align: center;
	margin: 0px auto;
p{
	font: serif;
}
a:visited {
color:blue 
}
a:hover{
	rgb: (0,0,0};
}
img{
	text-align:center;
	max-width: 70;
	max-height:auto;
}
article ul li:first-of-type { color: red};

footer {
}
@media devices



	
		
		