h1{
	font-family:serif;
	color: rgb(0,120,0);
	text-align: center;
	width: 75%;
	margin: 0 auto;
}
h2 {
	text-align: center;
}
p{
	font-family: serif;
}
/*nav bar*/
nav ul{
	margin:0 auto;
	text-align: center;
	background-color: rgba(0,170,0,.4);
	border-radius: 20px;
	width: 75%;
	font-size: 1.1em;
	list-style-type: none;
}

/*body styles*/
body{
	margin: 0px auto;
	border-color: rgb(0,0,0);
	padding: 0;
	background-color: rgba(0,255,0,0.3);
	margin: 0 auto;
	width: 100%;
}
header, footer {
	width: 100%;
	margin: 0 auto;
	color: rgba(0,215,0,0.6);
	text-align: center;
}
main{
	background-color: rgba(0,215,0,0.6);
	border: solid rgb(0,120,0);
	border-radius: 20px;
	margin: 25px auto;
	width: 1250px;
	text-align: left;
	font-size: 1.2em;
}
/*anchor styles*/
a{
	color: rgb(0,0,0);
	text-decoration: none;
}
a:hover{
	color: rgb(0,255,0);
}

